.header {
  background-image: linear-gradient(
    140deg,
    #c4ffff 0,
    #acffff 12.5%,
    #90ffff 25%,
    #6dfbff 37.5%,
    #38f0ff 50%,
    #00e4ff 62.5%,
    #00d9ff 75%,
    #00cfff 87.5%,
    #00c5ff 100%
  );
  color: #c4cfd3;
  border-radius: 3rem 3rem 0rem 0rem;
  text-align: center;
  margin: 0px;
  padding: 15px;
  color: #2c3e50;
  font-size: 30px;
  margin-top: 100px;
}
